git+https://github.com/natelatchaw/DiscordBot

-r requirements/audio.requirements.txt
-r requirements/openai_gen.requirements.txt
-r requirements/sdiffusion.requirements.txt
-r requirements/ec2.requirements.txt