--find-links https://download.pytorch.org/whl/torch_stable.html

torch
#torch==1.12.1+cu116
pytorch-lightning
transformers
einops
omegaconf
kornia

-e git+https://github.com/CompVis/stable-diffusion@main#egg=latent-diffusion
-e git+https://github.com/CompVis/taming-transformers.git@master#egg=taming-transformers
-e git+https://github.com/openai/CLIP.git@main#egg=clip